/* line 1, css/sass/_reset.scss */
html {
  scroll-behavior: smooth;
}

/* line 4, css/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

/* line 13, css/sass/_reset.scss */
a {
  display: block;
  text-decoration: none;
  color: #333;
}

/* line 20, css/sass/_reset.scss */
ul {
  list-style: none;
}

/* line 24, css/sass/_reset.scss */
::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */
/* line 25, css/sass/_reset.scss */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

/* FF 4-18 */
/* line 26, css/sass/_reset.scss */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

/* FF 19-51 */
/* line 27, css/sass/_reset.scss */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

/* IE 10+ */
/* line 28, css/sass/_reset.scss */
::placeholder {
  opacity: 1;
  transition: opacity .5s;
}

/* Modern Browsers */
/* line 30, css/sass/_reset.scss */
*:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* Chrome <=56, Safari < 10 */
/* line 31, css/sass/_reset.scss */
*:focus:-moz-placeholder {
  opacity: 0;
}

/* FF 4-18 */
/* line 32, css/sass/_reset.scss */
*:focus::-moz-placeholder {
  opacity: 0;
}

/* FF 19-50 */
/* line 33, css/sass/_reset.scss */
*:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE 10+ */
/* line 34, css/sass/_reset.scss */
*:focus::placeholder {
  opacity: 0;
}

/* Modern Browsers */
/********************************* Font mixins
**********************************************/
/* line 2, css/sass/_base.scss */
.cf {
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
}
/* line 2, css/sass/_mixin.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 8, css/sass/_mixin.scss */
.cf:after {
  clear: both;
}

/* line 5, css/sass/_base.scss */
.container {
  padding: 0 15px;
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* line 13, css/sass/_base.scss */
#mastHead {
  padding: 15px 0 8px;
}

/* line 16, css/sass/_base.scss */
#logo {
  float: left;
}
/* line 18, css/sass/_base.scss */
#logo img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* line 25, css/sass/_base.scss */
#main-nav {
  float: right;
  padding-top: 6px;
}
/* line 28, css/sass/_base.scss */
#main-nav li {
  float: left;
}
/* line 30, css/sass/_base.scss */
#main-nav li a {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  transition: color 0.15s;
}
/* line 36, css/sass/_base.scss */
#main-nav li a:hover, #main-nav li a:active {
  color: #49999D;
}

/* line 44, css/sass/_base.scss */
#main {
  padding-top: 45px;
}

/* line 48, css/sass/_base.scss */
.secondaryNav {
  padding-top: 50px;
  margin: 0 auto 50px;
  width: 85%;
}
/* line 52, css/sass/_base.scss */
.secondaryNav a {
  display: block;
  float: left;
  width: 30%;
  margin: 0 1.66%;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* line 62, css/sass/_base.scss */
.secondaryNav a h3 {
  padding: 45px 15px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
/* line 69, css/sass/_base.scss */
.secondaryNav a:active, .secondaryNav a:hover {
  background: #49999d;
}

/* line 77, css/sass/_base.scss */
.services .sidebar {
  box-sizing: border-box;
  width: 25%;
  float: left;
}
/* line 82, css/sass/_base.scss */
.services .sidebar .secondaryNav a {
  float: none;
  margin-bottom: 15px;
  width: 100%;
}
/* line 89, css/sass/_base.scss */
.services .statementBlock {
  float: left;
  width: 75%;
  max-width: 75%;
  box-sizing: border-box;
}

/* line 97, css/sass/_base.scss */
.CTA {
  margin-bottom: 75px;
}
/* line 99, css/sass/_base.scss */
.CTA a {
  color: #fff;
  font-size: 30px;
  padding: 15px 25px;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 auto;
}

/* line 109, css/sass/_base.scss */
.statementBlock {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 50px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 117, css/sass/_base.scss */
.statementBlock p {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  line-height: 35px;
}

/* line 125, css/sass/_base.scss */
.interiorHeader {
  height: 250px;
  position: relative;
  margin-bottom: 50px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* line 131, css/sass/_base.scss */
.interiorHeader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

/* line 143, css/sass/_base.scss */
.pageContent {
  width: 100%;
  max-width: 900px;
  padding: 50px 15px;
  margin: 0 auto;
  text-align: center;
}

/* line 152, css/sass/_base.scss */
footer {
  background: #000;
  padding: 25px 0;
  width: 100%;
}

/* line 157, css/sass/_base.scss */
#footLogo {
  float: right;
}
