/* line 1, css/sass/_reset.scss */
html {
  scroll-behavior: smooth;
}

/* line 4, css/sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

/* line 13, css/sass/_reset.scss */
a {
  display: block;
  text-decoration: none;
  color: #333;
}

/* line 20, css/sass/_reset.scss */
ul {
  list-style: none;
}

/* line 24, css/sass/_reset.scss */
::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

/* Chrome <=56, Safari < 10 */
/* line 25, css/sass/_reset.scss */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

/* FF 4-18 */
/* line 26, css/sass/_reset.scss */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

/* FF 19-51 */
/* line 27, css/sass/_reset.scss */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

/* IE 10+ */
/* line 28, css/sass/_reset.scss */
::placeholder {
  opacity: 1;
  transition: opacity .5s;
}

/* Modern Browsers */
/* line 30, css/sass/_reset.scss */
*:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* Chrome <=56, Safari < 10 */
/* line 31, css/sass/_reset.scss */
*:focus:-moz-placeholder {
  opacity: 0;
}

/* FF 4-18 */
/* line 32, css/sass/_reset.scss */
*:focus::-moz-placeholder {
  opacity: 0;
}

/* FF 19-50 */
/* line 33, css/sass/_reset.scss */
*:focus:-ms-input-placeholder {
  opacity: 0;
}

/* IE 10+ */
/* line 34, css/sass/_reset.scss */
*:focus::placeholder {
  opacity: 0;
}

/* Modern Browsers */
/********************************* Font mixins
**********************************************/
/* line 2, css/sass/_base.scss */
.cf {
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
}
/* line 2, css/sass/_mixin.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 8, css/sass/_mixin.scss */
.cf:after {
  clear: both;
}

/* line 5, css/sass/_base.scss */
.container {
  padding: 0 15px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* line 13, css/sass/_base.scss */
#mastHead {
  padding: 25px 0;
}

/* line 16, css/sass/_base.scss */
#logo {
  float: left;
}

/* line 20, css/sass/_base.scss */
#main-nav {
  float: right;
}
/* line 22, css/sass/_base.scss */
#main-nav li {
  float: left;
}
/* line 24, css/sass/_base.scss */
#main-nav li a {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 24px;
  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  transition: color 0.15s;
}
/* line 30, css/sass/_base.scss */
#main-nav li a:hover, #main-nav li a:active {
  color: #49999D;
}

/* line 38, css/sass/_base.scss */
#main {
  height: 100vh;
}

/* line 42, css/sass/_base.scss */
#secondaryNav {
  float: right;
  margin: 150px 0 50px;
}
/* line 45, css/sass/_base.scss */
#secondaryNav li {
  float: left;
}
/* line 47, css/sass/_base.scss */
#secondaryNav li a {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
/* line 52, css/sass/_base.scss */
#secondaryNav li a:after {
  content: '';
  background: "url(<?php the_field('logo_shape', 'options'); ?>)";
}

/* line 62, css/sass/_base.scss */
.CTA a {
  color: #fff;
  font-size: 30px;
  padding: 15px 25px;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 auto;
}

/* line 73, css/sass/_base.scss */
footer {
  background: #000;
  padding: 25px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 80, css/sass/_base.scss */
#footLogo {
  float: right;
}
